.App {
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scrollbar-width: 0.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    scroll-snap-type: y mandatory;

    .navigation {
        cursor: pointer;
        position: fixed;
        z-index: 12;
    }
    .body {
        width: 100%;
        min-height: 100vh;
    }
    .page {
        height: 100vh;
        width: 100%;
        scroll-snap-align: start;
    }
    .scrollElement {
        position: absolute;
        // height: 6000px;
        // width: 100px;
        // top: 0;
        z-index: 0;
  }
}

.App::-webkit-scrollbar {
    display: block;
  }
.App::-webkit-scrollbar {
    width: 30px;
  }

.App::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
    background-color: rgb(165, 165, 165);
  }
.App::-webkit-scrollbar-thumb {
    background: #116; 
    border-radius: 10px;
  }
.App::-webkit-scrollbar-thumb:hover {
    background: #114; 
  }

  @media only screen and (max-width: 750px) {
    .App::-webkit-scrollbar {
      display: none;
    }
  }