.privacy-policy {
    height: calc(100% - 5rem);
    width: 100%;
    padding: 1rem;
    
    .pp-border {
        display: flex;
        height: 100%;
        width: 100%;
        border-radius: 1rem;
        background-color: #fffa;
        box-shadow: 0 0 10px inset black;
        overflow-y: auto;
        padding-block: 2rem;
        justify-content: center;

        .pp-body {
            height: 100%;
            width: clamp(100px, 100%, 1080px);
        }
    }
}