.text-editor {
    height: 50%;
    width: 100%;
    
}
.demo-wrapper {
    height: 100%;
    width: 100%;
}
// .demo-wrapper > *, .demo-wrapper > * > * {
//     display: flex;
//     justify-content: space-between;
// }

.demo-editor  {
    height: 100%;
    width: 100%;
}