.pdf-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    inset: 0;
    z-index: 100;
    align-items: center;
    background-color: #ffffffdd;
    overflow: hidden;
    
    .top-bar {
        display: flex;
        flex-direction: row;
        height: 2.5rem;
        width: 100%;
        padding-inline: 1rem;
        flex-shrink: 0;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0 0 10px black;
        background-color: white;
        
        .back-button {
            display: flex;
            flex-direction: row;
            height: 2rem;
            padding-inline: 0.5rem;
            border-radius: 1rem;
            background-color: none;
            border: none;
            outline: none;
            align-items: center;
            justify-content: center;
            box-shadow: 0 0 10px inset black;
            background-color: aliceblue;
        }
        .back-button:hover {
            box-shadow: 0 0 10px black;
        }
    }
    .pdf-body {
        height: 100%;
        width: fit-content;
        flex-shrink: 0;
        overflow-y: scroll;
    }
}